<!DOCTYPE html>
<html>
<head>
	<title>Boponomy Tracker</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function() {
            var user = $.cookie("user");

            $("#greeting").append("Hey, " + user + "!");
            $("#account").append(user +"'s Account:");
        })
    </script>
    <!-- <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
        });
    </script> -->
</head>
<body>
	<div class="header">
		<h1>NakhRAAS Boponomy Tracker</h1>
		<nav>
            <ul class="navbar">
				<li><a href="" class="active">BopBoard</a></li>
				<li><a href="{{ url_for('load_live_bets') }}">Live Bets</a></li>
				<li><a href="{{ url_for('load_make_a_bet') }}">Make A Bet</a></li>
                <li><a href="{{ url_for('load_info') }}" class="info">Info</a></li>
                <li><a href="{{ url_for('load_logout') }}" class="logout">Log Out</a></li>
			</ul>
		</nav>
	</div>

    <div class="content">
        <div id="informational">
            <h2>BopBoard</h2>
            <p id="greeting"> </p>
            <p>Here, you can see the current BopBalance of every member. You'll also be able to see and manage your own balance, declare bopruptcy, and see how much you've profited from other players declaring bopruptcy.</p>
        </div>

        <div class="my_account">
            <div id="my_balance">
                <h2 id="account"> </h2>
                <h3>Balance: 0</h3>
            </div>
            <div id="my_declare_bopruptcy">
                <form action="{{ url_for('load_bop_board') }}" method="POST">
                    <button type="submit" name="bopruptcy" value="bopruptcy">Declare Bopruptcy</button>
                    <button type="submit" name="add" value="add">Add a Bop</button>
                    <button type="submit" name="remove" value="remove">Remove a Bop</button>
                </form>
            </div>

            <div id="my_bopruptcy_gains">
                <h2>Gains from Bopruptcy:</h2>
                <div class="message_holder" id="bopruptcy_gains_holder">
                    <h3 >No gains from bopruptcy yet...</h3>
                </div>
            </div>
        </div>

        <div class="bopboard">
            <h2>BopBoard:</h2>
            <div class="balance-holder" id="balance_holder">

            </div>
        </div>
    </div>
</body>
</html>