<!DOCTYPE html>
<html>
<head>
    <title>Boponomy Tracker</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var socket = io();
        var user = $.cookie("user");

        $(document).ready(function() {
            $("#greeting").append("Hey, " + user + "!");
            $("#account").append(user +"'s Account:");

            socket.emit('please load bop balances');
            socket.emit('send my balance', user);
            socket.emit('send my bopruptcy gains', user);

            $('#my_actions').on('click', 'button', function() {
                var buttonId = $(this).attr('id');
                if (buttonId === 'remove') {
                    socket.emit('just bopped', user)
                    location.reload(true);
                } else if (buttonId === 'bopruptcy') {
                    socket.emit('declare bopruptcy', user)
                }
            })
        })

        socket.on('load bop balances', function(balanceList) {
            for (i = 0; i < Object.keys(balanceList).length; ++i) {
                $('#balance_holder tr:last').after('<tr class=row'+i.toString()+'><td>'+Object.keys(balanceList)[i]+'</td><td>'+Object.values(balanceList)[i]+'</td></tr>')
            }
        })

        socket.on('receive my balance', function(balance) {
            $('#my_balance h3').text("Balance: " + balance);
        })

        socket.on('force bop board reload', function() {
            location.reload(true);
        })

        socket.on('load my bopruptcy gains', function(bopDict) {
            console.log(bopDict)
			for (i = 0; i < Object.keys(bopDict).length; ++i) {
                $('#bopruptcy_gains_holder tr:last').after('<tr class=row'+i.toString()+'><td>'+Object.keys(bopDict)[i]+'</td><td>'+Object.values(bopDict)[i]+'</td></tr>')
            }
        })
    </script>
</head>
<body>
	<div class="header">
		<h1>NakhRAAS Boponomy Tracker</h1>
		<nav>
            <ul class="navbar">
				<li><a href="" class="active">BopBoard</a></li>
				<li><a href="{{ url_for('load_live_bets') }}">Live Bets</a></li>
				<li><a href="{{ url_for('load_make_a_bet') }}">Make A Bet</a></li>
                <li><a href="{{ url_for('load_info') }}" class="info">Info</a></li>
                <li><a href="{{ url_for('load_logout') }}" class="logout">Log Out</a></li>
			</ul>
		</nav>
	</div>

    <div class="content">
        <div id="informational">
            <h2>BopBoard</h2>
            <p id="greeting"> </p>
            <p>Here, you can see the current BopBalance of every member. You'll also be able to see and manage your own balance, declare bopruptcy, and see how much you've profited from other players declaring bopruptcy.</p>
        </div>

        <div class="my_account">
            <div id="my_balance">
                <h2 id="account"> </h2>
                <h3>Balance: 0</h3>
            </div>
            <div id="my_actions">
                <button type="submit" id="bopruptcy" value="bopruptcy">Declare Bopruptcy 🤣💀</button>
                <button type="submit" id="remove" value="remove">I just bopped ✊🏾</button>
            </div>

            <div id="my_bopruptcy_gains">
                <h2>Gains from Bopruptcy:</h2>
                <table id="bopruptcy_gains_holder">
                    <tr>
                        <th>Name</th>
                        <th>Bops to Collect</th>
                    </tr>
			    </table>
            </div>
        </div>

        <div class="bopboard">
            <h2>BopBoard:</h2>
            <table id="balance_holder">
				<tr>
					<th>Name</th>
					<th>Balance</th>
				</tr>
			</table>
        </div>
    </div>
</body>
</html>