<!DOCTYPE html>
<html>
<head>
    <title>Boponomy Tracker</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	<div class="header">
		<h1>NakhRAAS Boponomy 🍾🍃</h1>
		<nav>
			<ul class="navbar">
				<li><a href="{{ url_for('load_bop_board')}}">BopBoard</a></li>
				<li><a href="{{ url_for('load_live_bets') }}">Live Bets</a></li>
				<li><a href="{{ url_for('load_make_a_bet') }}">Make A Bet</a></li>
                <li><a href="" class="active">Info</a></li>
                <li><a href="{{ url_for('load_logout') }}" class="logout">Log Out</a></li>
			</ul>
		</nav>
	</div>

    <div class="faq">
        <h2>What's the Boponomy?</h2>
        <ul>
            <li>Essentially, people can make bets on anything, with a "bop" (or any number of "bops"), as collateral.</li>
            <li>If you win the bet, the other person gets that number of "bops" added to their balance. 
                People do not want to have "bops" on their balance. The goal is to get other people to have more bops! </li>
            <li>Bops also accrue interest. This means that over time, if someone has any bops in their balance, it'll continually grow. This 
                means that if someone has 2 bops, and the rate of interest is 50% daily, the next day, they will have 3 bops on their balance.</li>
            <li>The way for people to reduce bops from their balance is to take a hit/take a shot/chug a mixed drink for 5 seconds. For every hit/shot/chug they take, 
                1 bop gets removed from their balance.</li>
            <li>However, there may be a point where people have so many bops on their balance that they are unable to remove bops 
                from their balance as fast as the interest is growing. This means that they have no other choice then to declare "Bopruptcy", 
                which is the equivalent of bankruptcy.</li>
            <li>When someone declares bopruptcy, their balance goes back to 0. This means that they no longer owe any bops! For the sake of retreat, 
                if someone declares bopruptcy, they're going to have to do some forfeit/punishment. The more bops you had when you declared bopruptcy, 
                the worse the forfeit (it won't be that bad, but we have to have some punishment for bad bopnancial planning).</li>
            <li>If you don't drink or smoke, you can pair yourself up with someone (you have to stick with the same person throughout retreat), and whenever they bop (take a shot, take a hit, chug), you can say you bopped too. That way 
                you still get to participate. However, if that person declares bopruptcy, you have to do a forfeit too.</li>
                <!-- In exchange
                for this, they owe every other player a portion of their bop balance. To "owe" someone means that you have to pay for their bops.</li>
            <li>This is calculated by taking the amount of bops they used to owe, and divide it by the total number of players
                (excluding the person that went boprupt). This means that if someone owes 90 bops, and there are 10 players total, 
                the boprupt player owes each every other player in the game 10 bops.</li> -->
        </ul>
    </div>

</body>
</html>