<!DOCTYPE html>
<html>
<head>
	<title>Boponomy Tracker</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	<div class="header">
		<h1>NakhRAAS Boponomy</h1>
		<nav>
			<ul class="navbar">
				<li><a href="{{ url_for('load_bop_board')}}">BopBoard</a></li>
				<li><a href="" class="active">Live Bets</a></li>
				<li><a href="{{ url_for('load_make_a_bet') }}">Make A Bet</a></li>
                <li><a href="{{ url_for('load_info') }}" class="info">Info</a></li>
                <li><a href="{{ url_for('load_logout') }}" class="logout">Log Out</a></li>
			</ul>
		</nav>
	</div>

    <div class="content">
		<div id="informational">
			<h2>Live Bets</h2>
			<p>Here, you can see and manage all live bets between all players.</p>
		</div>

		<div id="all-bets">
			<h2>All Bets:</h2>

			<table id="bet_holder">
				<tr>
					<th>ID</th>
					<th>Instigator</th>
					<th>Opponent</th>
					<th>Amount</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</table>
		</div>
    </div>

	<script>
		$(document).ready(function() {
			socket.emit('please load bets');
        })

		var socket = io();

		socket.on('update bets', function(temp_list) {
			$('#bet_holder tr:last').after('<tr id=row'+temp_list[0]+'><td>'+temp_list[0]+'</td><td>'+temp_list[1].user_one+'</td><td>'+temp_list[1].user_two+'</td><td>'+temp_list[1].bet_amount+'</td><td>'+temp_list[1].bet_description+'</td><td><button type="submit" class="user_one_won" id="user_one_won" value='+temp_list[0]+'>'+temp_list[1].user_one+' won</button><button type="submit" class="user_two_won" id="user_two_won" value='+temp_list[0]+'>'+temp_list[1].user_two+' won</button></td></tr>')
	  	})

		socket.on('load bets', function(betlist) {
			Object.keys(betlist).forEach(function(key) {
				$('#bet_holder tr:last').after('<tr id=row'+key+'><td>'+key+'</td><td>'+betlist[key].user_one+'</td><td>'+betlist[key].user_two+'</td><td>'+betlist[key].bet_amount+'</td><td>'+betlist[key].bet_description+'</td><td><button type="submit" class="user_one_won" id="user_one_won" value='+key+'>'+betlist[key].user_one+' won</button><button type="submit" class="user_two_won" id="user_two_won" value='+key+'>'+betlist[key].user_two+' won</button></td></tr>')
			})
      	})

		$('#bet_holder').on('click', 'button', function() {
			var buttonId = $(this).attr('id');
			var betId = $(this).attr('value');


			if (buttonId === 'user_one_won') {
				socket.emit('user one won', betId)
				$('table#bet_holder tr#row'+betId).remove()

			} else if (buttonId === 'user_two_won') {
				socket.emit('user two won', betId)
				$('table#bet_holder tr#row'+betId).remove()
			}
		})

		socket.on('force live bets reload', function() {
            location.reload(true);
        })
	</script>
</body>
</html>