<!DOCTYPE html>
<html>
<head>
	<title>Boponomy Tracker</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	<div class="header">
		<h1>NakhRAAS Boponomy</h1>
		<nav>
			<ul class="navbar">
				<li><a href="{{ url_for('load_bop_board')}}">BopBoard</a></li>
				<li><a href="{{ url_for('load_live_bets') }}">Live Bets</a></li>
				<li><a href="" class="active">Make A Bet</a></li>
                <li><a href="{{ url_for('load_info') }}" class="info">Info</a></li>
                <li><a href="{{ url_for('load_logout') }}" class="logout">Log Out</a></li>
			</ul>
		</nav>
	</div>

    <div class="content">
        <div id="informational">
            <h2>Make A Bet</h2>
            <p>Here, you can make a bet with any other player in the game.</p>
            <p>Make sure you specify how many bops are being wagered, and a brief description of the bet (if you want).</p>
            <p>Both parties should agree on the amount! Remember, we want to make it realistic.</p>
        </div>

        <div>
            <form id="bet_form" action="" method="POST">
                <label for="bet_amount">Amount of bops to wager (maximum of 10 bops):</label>
                <input type="number" name="bet_amount" class="bet_amount" min="1" max="10" required>
                <label for="opponent">Select opponent:</label>
                <select name="opponent" class="opponent" required>
                    <option value="User1">User1</option>
                    <option value="User2">User2</option>
                    <option value="User3">User3</option>
                    <option value="User4">User4</option>
                    <option value="User5">User5</option>
                </select>
                <label for="bet_description">Description of the bet:</label>
                <textarea name="bet_description" class="bet_description" placeholder="Description..." required></textarea>
                <input type="submit" class="submit" value="Submit Bet">
            </form>
        </div>
    </div>

    <script type="text/javascript" charset="utf-8">
        var socket = io();

        var form = $( 'form' ).on( 'submit', function( e ) {
                e.preventDefault()
                let bet_amount = $('input.bet_amount').val()
                let user_one = $.cookie("user");
                let user_two = $('select.opponent').val();
                let bet_description = $('textarea.bet_description').val();
                socket.emit('send bet', {
                    user_one : user_one,
                    user_two : user_two,
                    bet_amount : bet_amount,
                    bet_description : bet_description
                } )
                $( 'textarea.bet_description' ).val( '' ).focus()
                $( 'input.bet_amount' ).val( '' ).focus()
            } )
    </script>
</body>
</html>